.page-footer {
	width: 1600px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: var(--third-background-color);

	&__container {
		display: flex;
		align-items: baseline;
	}
}
